[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
transformers = "*"
torch = "*"
pandas = "*"
openai = "*"
scipy = "*"
scikit-learn = "*"
flask = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
